{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!-- Extra CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}
<!-- Page Header -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!-- Main Content -->
{% block content %}
<!-- Start of Post Detail -->
<div class="overlay"></div>
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <!-- Post Detail Section -->
            <div class="col-md-8 masthead-text">
                <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-subtitle">{{ post.created_on }}</p>
            </div>
            <!-- Allow Superuser to Edit/Delete the Post -->
            <div class="col-md-4 masthead-image">
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_post' post.slug %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_post' post.slug %}">Delete</a>
                </small>
                {% endif %}
                {% if "placeholder" in post.featured_image.url %}
                <img src="" alt="">
                {% else %}
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <!-- Form to Allow Users to Like/Unlike a Post -->
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary"> {{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Post Detail -->
{% endblock %}