/* Blog Posts Section */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-link:hover {
    text-decoration: underline;
    color: black;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Post Detail Section */

.back-btn {
    padding: 0;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
} 